{% extends "admin_lte/index.html" %}

{% block static_head %}
	<link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}

{% block content %}
          <div class="box">
            <div class="box-header">
              <span><h3 class="box-title">Liste des fichier de configuration du pool Logstash {{config_pool_name}}</h3></span>
              <a role="button" class="btn btn-success" href="{{new_config_file_url}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true">Nouveau pool</span></a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="list_consoles" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                  <th>Nom du fichier de configuration</th>
	                  <th></th>
	                </tr>
                </thead>
                <tbody>
                	{% for file in config_files %}
		                <tr>
		                  <td>{{file.sec_config_file}}</td>
		                  <td>
		                  	<a role="button" class="btn btn-success" href="{{ url_for('sec_config_urls.update_config_file_handler', id_config_pool= id_config_pool, id_config_file = file.id) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true">Modifier</span></a> 
		                  	<a role="button" class="btn btn-success" href="{{ url_for('sec_config_urls.view_config_file_handler', id_config_file=file.id) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true">Voir</span></a> 
							<a role="button" class="btn btn-success" href="{{ url_for('sec_config_urls.send_config_file_handler', id_config_pool= id_config_pool, id_config_file = file.id) }}"><span class="glyphicon glyphicon-play-circle" aria-hidden="true">Go</span></a>
							<a role="button" class="btn btn-danger" href="{{ url_for('sec_config_urls.delete_config_file_handler', id_config_pool= id_config_pool, id_config_file = file.id) }}" onclick="return confirm ('Voulez-vous vraiment supprimer cette élément ?'); "><span class="glyphicon glyphicon-trash" aria-hidden="true">Supprimer</span></a>
							<a role="button" class="btn btn-danger" href="{{ url_for('sec_config_urls.restore_config_file_handler', id_config_pool= id_config_pool, id_config_file = file.id) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true">Restorer</span></a>
						  </td>
		                </tr>
		            {% endfor %}
		             
                </tbody>
                <tfoot>
	                	<tr>
		                  	 <th>Nom du fichier de configuration</th>
	                  		<th></th>
		                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          {% if launch_sec_msg %}
	          <div class="box">
	          	<div class="box-header">
	          		Résultat du lancement du pool
	            </div>
	            <div class="box-body">
		          	{% for line in launch_sec_msg %}
		          			<p>{{launch_sec_msg}}</p>
		          	{% endfor %}
		        </div>
	          </div>
	      {% endif %}
        
{% endblock %}

{% block js_footer %}

<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>


	<script>
	  $(function () {
	    $("#list_consoles").DataTable();
	  });
	</script>

{% endblock %}
